@import "tailwindcss";
@import "aos/dist/aos.css";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll linear infinite;
}

.content-auto {
  content-visibility: auto;
  contain-intrinsic-size: auto 1000px;
}


